src/Syn/Vns.UpdateProgram/Service References/WSUpdate/WSUpdate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstcli" type="tns:ArrayOfFileVersion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFileVersion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FileVersion" nillable="true" type="tns:FileVersion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FileVersion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Folder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="File" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateVersionResult" type="tns:ArrayOfFileVersion" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateVersionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateVersion" />
  </wsdl:message>
  <wsdl:message name="UpdateVersionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="WSUpdateSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVersion">
      <wsdl:input message="tns:UpdateVersionSoapIn" />
      <wsdl:output message="tns:UpdateVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSUpdateSoap" type="tns:WSUpdateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVersion">
      <soap:operation soapAction="http://tempuri.org/UpdateVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSUpdateSoap12" type="tns:WSUpdateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVersion">
      <soap12:operation soapAction="http://tempuri.org/UpdateVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSUpdate">
    <wsdl:port name="WSUpdateSoap" binding="tns:WSUpdateSoap">
      <soap:address location="http://localhost:3331/WSUpdate.asmx" />
    </wsdl:port>
    <wsdl:port name="WSUpdateSoap12" binding="tns:WSUpdateSoap12">
      <soap12:address location="http://localhost:3331/WSUpdate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>