src/Intefaces/Vns.Main/Config/WebServices/calculatorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SpringCalculator/WebServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://SpringCalculator/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Spring Calculator Web Services</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SpringCalculator/WebServices">
      <s:element name="ProcessCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessCustomerResponse">
        <s:complexType/>
      </s:element>
      <s:element name="Test">
        <s:complexType/>
      </s:element>
      <s:element name="TestResponse">
        <s:complexType/>
      </s:element>
      <s:element name="GetCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerResult" type="tns:Customer"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ContactName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ContactTitle" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Orders" type="tns:ArrayOfOrder"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Order">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="OrderDate" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="RequiredDate" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="ShippedDate" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="Freight" type="s:decimal"/>
          <s:element minOccurs="0" maxOccurs="1" name="ShipName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ShipAddress" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ShipCity" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ShipRegion" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ShipPostalCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ShipCountry" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:Customer"/>
          <s:element minOccurs="0" maxOccurs="1" name="OrderDetails1" type="tns:ArrayOfOrderDetail"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderDetail" nillable="true" type="tns:OrderDetail"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:decimal"/>
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="Discount" type="s:decimal"/>
          <s:element minOccurs="0" maxOccurs="1" name="Order" type="tns:Order"/>
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:element name="SaveCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="o" type="tns:Customer"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveCustomerResult" type="tns:Customer"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessCustomer"/>
  </wsdl:message>
  <wsdl:message name="ProcessCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test"/>
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomer"/>
  </wsdl:message>
  <wsdl:message name="GetCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:SaveCustomer"/>
  </wsdl:message>
  <wsdl:message name="SaveCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:SaveCustomerResponse"/>
  </wsdl:message>
  <wsdl:portType name="FulfillmentServiceSoap">
    <wsdl:operation name="ProcessCustomer">
      <wsdl:input message="tns:ProcessCustomerSoapIn"/>
      <wsdl:output message="tns:ProcessCustomerSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn"/>
      <wsdl:output message="tns:TestSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input message="tns:GetCustomerSoapIn"/>
      <wsdl:output message="tns:GetCustomerSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SaveCustomer">
      <wsdl:input message="tns:SaveCustomerSoapIn"/>
      <wsdl:output message="tns:SaveCustomerSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FulfillmentServiceSoap" type="tns:FulfillmentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcessCustomer">
      <soap:operation soapAction="http://SpringCalculator/WebServices/ProcessCustomer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://SpringCalculator/WebServices/Test" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://SpringCalculator/WebServices/GetCustomer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCustomer">
      <soap:operation soapAction="http://SpringCalculator/WebServices/SaveCustomer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FulfillmentServiceSoap12" type="tns:FulfillmentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcessCustomer">
      <soap12:operation soapAction="http://SpringCalculator/WebServices/ProcessCustomer" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://SpringCalculator/WebServices/Test" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap12:operation soapAction="http://SpringCalculator/WebServices/GetCustomer" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCustomer">
      <soap12:operation soapAction="http://SpringCalculator/WebServices/SaveCustomer" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FulfillmentService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Spring Calculator Web Services</wsdl:documentation>
    <wsdl:port name="FulfillmentServiceSoap" binding="tns:FulfillmentServiceSoap">
      <soap:address location="http://localhost:55647/FulfillmentService.asmx"/>
    </wsdl:port>
    <wsdl:port name="FulfillmentServiceSoap12" binding="tns:FulfillmentServiceSoap12">
      <soap12:address location="http://localhost:55647/FulfillmentService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>